<div>
  <h1> Golden Rags </h1>
  <p> Enter item values below </p>

  <form>
    <div>
      <input></input>
    </div>

    <div>
      <input></input>
    </div>

    <div>
      <input></input>
    </div>

    <div>
      <input></input>
    </div>

    <p></p>

    <button>Start</button>
  </form>

</div>





<!-- url = 'https://www.zara.com/sk/sk/vysivane-midi-saty-p02895994.html?v1=255780543&v2=2184117'
itemColor = 'Šedobiela'
itemSize = 'L'.upper()
sms = 'da'.upper()
buy = 'ne'

found = False
atempt = 1 -->
