<div>
  <h1> Golden Rags </h1>
  <p> Enter item values below </p>

  <form form method='POST'>
    <div class='m-2'>
      <label>Product url: </label>
      <input value='{{Url}}' name='url'></input>
    </div>

    <div class='m-2'>
      <label>Item size: </label>
      <input value='{{ItemSize}}' name='itemSize'></input>
    </div>

    <div class='m-2'>
      <label>Item color: </label>
      <input value='{{ItemColor}}' name='itemColor' ></input>
    </div>

    <div class='m-2'>
      <label>Send sms: </label>
      <input value='{{Sms}}' name='sms' ></input>
    </div>
    
    <button>Start</button>

    <p>{{output}}</p>
    
  </form>

</div>





<!-- url = 'https://www.zara.com/sk/sk/vysivane-midi-saty-p02895994.html?v1=255780543&v2=2184117'
itemColor = 'Šedobiela'
itemSize = 'L'.upper()
sms = 'da'.upper()
buy = 'ne'

found = False
atempt = 1 -->
